@page "/movie/search"
@inject NavigationManager navigationManager
@inject MovieRepository movieRepository


<h3>Suche Filme:</h3>

<SearchMoviesTypeahead @bind-SelectedMovie="MovieTobeFound" getMovie="getSelectedMovie"></SearchMoviesTypeahead>



@if (SelectedMovie != null)
{
    <h3>@SelectedMovie.Title</h3>
    <p>@SelectedMovie.Summary</p>
    <button class="btn btn-primary" @onclick="goToLearningPage">Vokabular von diesem Film lernen!</button>
}

@code {

    private MovieDTO MovieTobeFound = new MovieDTO();

    public MovieDTO SelectedMovie { get; set; }



    private void printSelectedMovie()
    {
        Console.WriteLine("PrintSelected movie:");
        Console.WriteLine(this.MovieTobeFound);
        Console.WriteLine(this.MovieTobeFound.Title);
    }


    private async void getSelectedMovie()
    {
        this.SelectedMovie = await movieRepository.GetMovie(this.MovieTobeFound.Id);
        StateHasChanged();
    }

    private void goToLearningPage()
    {
        navigationManager.NavigateTo("vocabulary/"+MovieTobeFound.Id);
    }


}
