@page "/movie/search"
@inject NavigationManager navigationManager
@inject MovieRepository movieRepository


<h3>Suche Filme:</h3>

<SearchMoviesTypeahead getMovie="getSelectedMovie"></SearchMoviesTypeahead>



@if (SelectedMovie != null)
{
    <h3>@SelectedMovie.Title</h3>
    <p>@SelectedMovie.Summary</p>
    <button class="btn btn-primary" @onclick="goToLearningPage">Vokabular von diesem Film lernen!</button>
}

@code {

    public MovieDTO SelectedMovie { get; set; }


    private async void getSelectedMovie(int id)
    {
        this.SelectedMovie = await movieRepository.GetMovie(id);
        StateHasChanged();
    }

    private void goToLearningPage()
    {
        navigationManager.NavigateTo("vocabulary/learn/" + SelectedMovie.Id);
    }


}
