@page "/movies/addvocabulary"
@inject NavigationManager navigationManager
@inject MovieRepository movieRepository
@using MovieVoc.Client.Pages.Word

<h3>Add Vocabulary</h3>

<div>
    <label>Wort:</label>
    <div>
        <input @bind="Word" />
    </div>
</div>
<div>
    <label>Uebersetzung</label>
    <div>
        <input type="text" @bind="Translation" />
    </div>
</div>
<div>
    <label>Schwierigkeits Level</label>
    <div>
        <input @bind="DifficultyLevel" />
    </div>
</div>





<button class="btn btn-primary" @onclick="addWordToVoc">Wort zufügen</button>
<button class="btn btn-primary" @onclick="addVocToMovie">Vockabeln dem Film zufügen</button>



@code {
    public string Word { get; set; }
    public string Translation { get; set; }
    public int DifficultyLevel { get; set; }


    private void addWordToVoc()
    {
        Word newWord = new Word();
        newWord.EnglischWord = this.Word;
        newWord.Translation = this.Word;
        newWord.DifficultyLevel = this.DifficultyLevel;

        //movieWords.Vocabulary.Add(newWord);

        this.Word = "";
        this.Translation = "";
        this.DifficultyLevel = 0;
        StateHasChanged();

    }

    private void addVocToMovie()
    {


    }





}
