@page "/vocabulary/Add"
@inject NavigationManager navigationManager
@inject MovieRepository movieRepository
@using MovieVoc.Client.Pages.Word
@using MovieVoc.Client.Pages.Movie

<h3>Wörter einem Film zufügen hinzufügen:</h3>
 <SearchMoviesTypeahead @bind-SelectedMovie="MovieTobeFound" getMovie="getSelectedMovie"></SearchMoviesTypeahead>
<div>
    <label>Film suchen:</label>
</div>
<div>
    <label>Wort suchen:</label>

</div>



@code {

    private MovieDTO MovieTobeFound = new MovieDTO();

    public MovieDTO SelectedMovie { get; set; }



    private async void getSelectedMovie()
    {
        this.SelectedMovie = await movieRepository.GetMovie(this.MovieTobeFound.Id);

    }





    private void addWordToVoc()
    {
        Word newWord = new Word();

        StateHasChanged();

    }

    private void addVocToMovie()
    {


    }





}
