@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <span>Hallo, @context.User.Identity.Name!</span>
        <button class="nav-link btn btn-link" @onclick="LogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/authentication/register">Register</a>
        <a href="/authentication/login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    
    //
    /// <summary>
    /// Achtung: dieser Component muss innerhalb der Applikation sein. Die Tags dürfen nicht direkt in der Applikation sein
    /// -> Sonst gibt es die folgende Fehlermeldung:
    /// The logout was not initiated from within the page.
    /// Code copiert.
    /// </summary>
    /// <param name="args"></param>
    /// <returns></returns>
    private async Task LogOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}